header {
    width: 100%;
    height: 100px;
    background-color: maroon;
}
h1 .estudio {
    font-family: fantasy #111;
    text-align: center;
    width: max-content;
    padding-left: 20%;
    text-shadow: 1px white;
}